body{
    background-color: #669999;
}
#insertBookContainer{
    background-color: #1e7299;
    margin: 20px auto;
    width:270px;
    height: 320px;
    padding:25px;
    border-radius: 5%;
    color:chartreuse;
    
}

#submit{
    float: left;
    margin:9px;
    
}
#cancel{
    float:right;
    margin:9px;
    
}

.bookCard{
    width:250px;
    height:280px;
    background-color:#1e7299;
    color:chartreuse;
    border-radius: 5%;
    margin:5px;
    text-align: center;
    display:inline-block;
   

}

#bookContainer{
    margin:20px auto;
    display:block;
    
}

.cardButton{
    display:inline-block;
    width:40%;
    height:15%;
    margin:3px;
    

}